@model web_API9.Models.Application.User.ShowUserViewModel

@{ 
    ViewData["Title"] = "LoginOK";
    ViewData["User"] = Model.FullName + " signed in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login successful</h1>
