@model web_API9.Models.Application.User.ShowUserViewModel
@{ 
    ViewData["Title"] = "Secret";
    ViewData["User"] = Model.FullName + " signed in";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Secret page</h1>
